body {
  margin: 0;
}

* {
  font-family: 'Roobert';
  box-sizing: border-box;
}
/*Hero Section*/

.hero-container {
  
  position: relative;
  background: linear-gradient(239.85deg, rgba(197, 227, 220, 0.5) 17.73%, rgba(255, 209, 209, 0.5) 97.19%);

}

/* Navbar */

.hero-navbar {
  display: flex;
  justify-content: space-between;
  margin-inline: 10vw;
  align-items: center;
  flex-wrap: wrap;
  
  
}

.logo {
  display: flex;
  font-family: 'Roobert';
  font-size: 1.75rem;
  line-height: 28px;
  font-weight: 500;
  color: #293033;
  width: 50%;
  margin-top: 2.9%;

}

.open-app {
  display: flex;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 12px 32px;
  color: white;
  background-color: black;
  font-size: 1.25rem;
  margin-top: 3%;
  
  
}

.hero-line {
  border: 1px solid rgba(22, 27, 25, 0.18);
  margin-top: 3%;
  width: 100%;
  
}

/* Hero left text */

.hero-content {
  display: flex;
  flex-direction: column;
  margin-inline: 10vw;

  align-content: center;
  
}

.hero-header {
  margin-top: 12%;
  font-family: Roobert;
  font-style: normal;
  font-size: clamp(4rem, 128px, 20vw);
  font-weight: 500;
  line-height: 86%;
  letter-spacing: -0.02em;
  max-width: 467px;
  color: #161b19;
}

.hero-paragraph {
  font-family: Roobert;
  font-size: 1.375rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.03em;
  max-width: 540px;
  margin-top: 5%;
  gap: 10px;

}

/* Hero Button */

.hero-buttons {
  display: flex;
  max-width: 100%;
  font-family: Roobert;
  margin-top: 5%;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin-bottom: 10%;

}

.borrow-button, .lend-button {
  border-radius: 1rem;
  padding: 18px 49px;
  font-size: 1.25em;
  justify-content: center;
  align-items: center;

}

.borrow-button {
  color: white;
  background: #161b19;
}

.lend-button {
  color: #161b19;
  border: 2px solid black;

}

/* Statistics section */

.stats-container {
  width: 100%;
  display: flex;
  align-items: center;

}

.stats-info {
  display: flex;
  flex-wrap: wrap;
  align-content:center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1em;
  margin-inline: 10vw;
  margin-top: 5%;
  margin-bottom: 5%
  
}

.treasury-balance, .total-value-locked, .current-apy {
  font-size: clamp(1rem, 28px, 3rem);
  font-weight: 400;
}

.stats-number, .locked-number, .apy-number {
  font-size: clamp(1.5rem, 36px, 3.5rem);
  font-weight: 600;
}

/* Investor Section */

.investors-container {
  display: flex;
  flex-wrap: wrap;
  background: #161b19;
  width: 100%;
  position: relative;
}

.investors-headline {
  margin-top: 7.3%;
  font-family: Roobert;
  font-style: normal;
  font-size: clamp(3rem, 96px, 20vw);
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.02em;
  line-height: 90%;
  margin-inline: 10vw;
  color: #ebe3e2;
  width: 100%;

} 

.investors-paragraph {
  display: flex;
  flex-wrap: wrap;
  max-width: 540px;
  color: #e1dad8;
  font-family: Roobert;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.03em;
  opacity: 0.9;
  margin-top: 4.5%;
  margin-inline: 10vw;
  width: 100%;


}
.investors-img-section {
  display: flex;
  flex-wrap: wrap;
  margin-inline: 10vw;
  margin-top: 4.5%;
  margin-bottom: 13.6%;
  justify-content: space-between;
  row-gap: 85px;
  width: 100%;
  max-width: 1920px;


}

.investors-box1, .investors-box2, .investors-box3 {
  width: 100%;
  max-width: 450px;

}

img {
  width: 100%;
  height: auto;
  max-width: 450px;

}

.box1-text, .box2-text, .box3-text {
  margin-top: 32px;
  color: #ebe3e2;
}

.box1-text-top, .box2-text-top, .box3-text-top{
  font-style: normal;
  font-weight: 600;
  line-height: 46px;
  font-size: clamp(1.5rem, 38px, 3rem);
  font-family: Roobert;
}

.box1-text-bottom, .box2-text-bottom, .box3-text-bottom {
font-family: 'Roobert';
font-style: normal;
font-weight: 400;
font-size: clamp(1rem, 28px, 2rem);
line-height: 34px;
color: #EBE3E2;

}

/* Metastreet Section */


.metastreet-container {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(215.39deg, rgba(197, 227, 220, 0.159) 11.64%, rgba(255, 209, 209, 0.138) 63.82%);
  width: 100%;
  position: relative;
  justify-content: center;
}

.metastreet-headline {
  display: flex;
  justify-content: center;
  font-family: 'Roobert';
  font-style: normal;
  font-weight: 500;
  font-size: clamp(2rem, 4rem, 6rem);
  line-height: 90%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #161B19;
  width: 100%;
  margin-top: 7.4%; 
}

.metastreet-items {
  margin-top: 7.9%;
  flex-wrap: wrap;
}

.metastreet-item-1, .metastreet-item-2, .metastreet-item-3 {
  margin-top: 6%;

  display: flex;
  align-items:center;
}

.metastreet-item-3 {
  margin-bottom: 13.5%;
}

.metastreet-item-2-img {
  margin-right: 7.5vw;
}

.metastreet-item-1-img, .metastreet-item-3-img{
  margin-left: 7.5vw;
}

.metastreet-item-1-img, .metastreet-item-2-img, .metastreet-item-3-img{
  display: flex;
  max-width: 325px;

  
}

.metastreet-item-1-content, .metastreet-item-2-content, .metastreet-item-3-content {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  gap: 20px;

}

.metastreet-item-description {
  padding: 4px 12px;
  max-width: 138px;
  background: #D8D8D8;
  border-radius: 8px;
  font-family: 'Roobert';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 28px;
  letter-spacing: -0.04em;
  color: #161B19;

}

.metastreet-item-headline {
  font-family: 'Roobert';
  font-style: normal;
  font-weight: 600;
  font-size: clamp(2rem, 38px, 2.5rem);
  line-height: 46px;
  margin-top: 0.8%;

  width: 100%;

}

.metastreet-item-paragraph {
  margin-top: 0.6%;
  max-width: 440px;

}

/* Footer Section */

.footer-container {
  display: flex;
  flex-wrap: wrap;
  background:#161B19;
  position: relative;
  width: 100%;

}

.footer-nav {
  margin-top: 4.5%;
  margin-left: 13.3vw;
  margin-right: 7.6vw;
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1520px;
  justify-content: space-between;
  align-content: center;
}

.footer-logo {
  max-width: 79px;
  width: 100%;
  flex-wrap: wrap;

}

/* .footer-divider {
  border: 1px solid red;
  max-width: 977px;
  width: 100%;
  
} */

.footer-items {
  display: flex;  
  font-family: 'Roobert';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #9AA5A0;
  width: 100%;
  max-width: 464px;
  justify-content: space-between;
  margin-bottom: 2%;
}

ul, li {
  list-style: none;
  gap: 10px;
}

ul {
  display: flex;
  flex-direction: column;
}

.footer-line {
  border: 1px solid rgba(69, 80, 75, 1);
  width: 100%;
  margin-bottom: 7.5%;

}

.footer-bottomitems {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 7.7%;
  flex-wrap: wrap;
 
}

.bottomitems-copyright {
  font-family: 'Roobert';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  max-width: 315px;
  color: #9AA5A0;

}

.bottomitems-contact {
  font-family: 'Roobert';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #9AA5A0;
}
