body {
  margin: 0;
}

* {
  font-family: 'Roobert';
}
/*Hero Section*/

.hero-container {

  position: relative;
  height: 100dvh;
  height: 100vh;
  width: 100dvw;
  width: 100%;
  background: linear-gradient(239.85deg, rgba(197, 227, 220, 0.5) 17.73%, rgba(255, 209, 209, 0.5) 97.19%);

}

/* Navbar */

.hero-navbar {
  display: flex;
  justify-content: space-between;
  height: 8.5vh;
  border-bottom: 1px solid black;
  margin: 0 10vw;
  align-items: center;
  
}

.logo {
  font-family: 'Roobert';
  font-size: 1.75rem;
  line-height: 28px;
  font-weight: 500;
  color: #293033;

}

.open-app {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 12px 32px;
  color: white;
  background-color: black;
  font-size: 1.25rem;
  
}

/* Hero left text */

.hero-content {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 40vh;
  margin-inline: 10vw;
  transform: translateY(28vh);
  align-content: center;
  
}

.hero-header {
  font-family: Roobert;
  font-style: normal;
  font-size: clamp(4rem, 128px, 20vw);
  font-weight: 500;
  line-height: 86%;
  letter-spacing: -0.02em;
  max-width: 467px;
  color: #161b19;
}

.hero-paragraph {
  font-family: Roobert;
  font-size: 1.375rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.03em;
  max-width: 540px;
  margin-top: 5%;
  gap: 10px;

}

/* Hero Button */

.hero-buttons {
  display: flex;
  max-width: 100%;
  font-family: Roobert;
  margin-top: 5%;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;

}

.borrow-button, .lend-button {
  border-radius: 1rem;
  padding: 18px 49px;
  font-size: 1.25em;

}

.borrow-button {
  color: white;
  background: #161b19;
}

.lend-button {
  color: #161b19;
  border: 2px solid black;

}

/* Statistics section */

.stats-container {
  width: 100%;
  display: flex;
  align-items: center;

}

.stats-info {
  display: flex;
  flex-wrap: wrap;
  align-content:center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1em;
  margin-inline: 10vw;
  margin-top: 5%;
  margin-bottom: 5%
  
}

.treasury-balance, .total-value-locked, .current-apy {
  font-size: clamp(1rem, 28px, 3rem);
  font-weight: 400;
}

.stats-number, .locked-number, .apy-number {
  font-size: clamp(1.5rem, 36px, 3.5rem);
  font-weight: 600;
}

/* Investor Section */

.investors-container {
  background: #161b19;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;

}

.investors.headline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.investors-img-section {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid red;
  width: 100%;
  margin: 10vw;
}

.investors-box1, .investors-box2, .investors-box3{
  color: white;
  min-width: 50%;
  max-width: 100%;
  height: auto;
  margin: 10px;
  flex: 1;
  border: 1px solid blue;
  

}

img {
  max-height: 530px;
  max-width: 100%;
}