body {
  margin: 0;
}

* {
  font-family: 'Inter';
}
/*Hero Section*/

.hero-container {

  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(239.85deg, rgba(197, 227, 220, 0.5) 17.73%, rgba(255, 209, 209, 0.5) 97.19%);

}

.hero-navbar {
  display: flex;
  justify-content: space-between;
  height: 8.5vh;
  border-bottom: 1px solid black;
  margin: 0 10vw;
  align-items: center;
  
}

.logo {
  font-family: 'Inter';
  font-size: 1.75rem;
  line-height: 28px;
  font-weight: 500;
  color: #293033;

}

.open-app {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 12px 32px;
  color: white;
  background-color: black;
  font-size: 1.25rem;
  
}

.hero-content {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 40vh;
  justify-content: space-between;
  margin-inline: 10vw;

}

.hero-header {
  font-family: Roobert;
  font-size: 64px;
  font-weight: 500;
  max-width: 128px;

}

.hero-paragraph {
  font-family: Roobert;
  font-size: 1.4rem;
}

.hero-buttons {
  max-width: 392px;
  font-family: Roobert;
  justify-content: space-between;
}

.borrow-button, .lend-button {
  border: 1px solid black;
  border-radius: 1rem;

}